.geo-bar{
    display: flex;
    flex-direction: column;
    box-shadow: 3px 5px ;
    text-align: justify;
    border-color: rgb(224, 102, 102);
    padding: 25px;
    margin: 6px;
    justify-content: center;
    background-color: rgb(32, 141, 204);
    text-shadow: 0.2px 0.2px rgb(255, 254, 254);
    text-justify: inter-word;
}


.testando1{
    display: flex;
    font-weight: 600;
    font-size: xx-large;
}